<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand mx-4" href="#">
      <img src="{{ url_for('static', filename='MEICON.jpg')}}" class="navbar-logo">
      <a class="nav-link fw-bold nav-custom" href="#">MAMAKS EVENTS</a>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-4 fw-bold">
        <a class="nav-link px-3" href="#">About Us</a>
        <a class="nav-link px-3" href="#">Shop</a>
        <a class="nav-link px-3" href="#">Earn Points</a>
        <a class="nav-link px-3" href="{{url_for('inventory_page')}}">Inventory</a>
        <a class="nav-link px-3" href="{{url_for('rewards_page')}}">Rewards</a>
        <a class="nav-link px-3" href="#">Contact Us</a>
        <button type="button" class="btn mx-2 px-3 fw-bold">Login</button>
      </div>
    </div>
  </div>
</nav>