<link href="{{ url_for('static', filename='staff_navbar.css') }}" rel="stylesheet">

<div class="col-4 sidebar fs-5">
    <a href="{{ url_for('staff_dashboard') }}" class="{% if active_page == 'staff_dashboard' %}active{% endif %}"><i class="fa-solid fa-house"></i> Dashboard</a>
    <a href="{{ url_for('staff_analytics') }}" class="{% if active_page == 'staffanalytics' %}active{% endif %}"><i class="fa-solid fa-chart-line"></i>Analytics</a>
    <a href="#"><i class="fa-solid fa-calendar"></i>Orders/Events</a>
    <a href="{{url_for('inventory_page')}}" class="{% if active_page == 'inventory_page' %}active{% endif %}"><i class="fa-solid fa-box"></i>Inventory</a>
    <a href="{{ url_for('rewards_index') }}" class="{% if active_page == 'rewards' %}active{% endif %}"><i class="fa-solid fa-award"></i>Rewards</a>
</div>
