.inventory-page {
    display: flex;
    height: 100%;

}

.sidebar {
    width: 20%; /* Fixed width */
    background-color: #f4f4f4;
    padding: 20px;
    overflow-y: auto;
    height: 120vh;
    box-sizing: border-box;
}

.categories-section, .filter-section {
    margin-bottom: 20px;
}


/* Categories Section */
.categories-section h2,
.filter-section h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

.categories-section ul , .filter-section {
    list-style: none;
    padding: 0;
    margin: 0;
}

categories-section ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.filter-section form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Space between radio options */
}

.filter-option {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-option label {
    font-size: 14px;
    color: #333;
}

.filter-btn {
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    font-size: 14px;
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

/* Main Content Section */
.inventory-section {
    height: 100%;
    flex-grow: 1; /* Take up remaining space */
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

/* Search Bar */
.search-bar{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.input-group {
    flex-grow: 1;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

.input-group span {
    background-color: white;
}

.input-group-text {
    background-color: #f9f9f9; /* Match your color theme */
    border: none;
    padding: 0.5rem;
    color: #555;
    display: flex;
    align-items: center;
}

.form-control {
    border: none;
    flex: 1;
    padding: 0.5rem;
    font-size: 1rem;
}

.form-control:focus {
    outline: none; /* Remove default outline */
    box-shadow: none; /* Remove default shadow */
}

/* Inventory Grid */
.inventory-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 items per row */
    gap: 20px;
    width: 100%;
    padding: 0 10px;
    overflow-y: auto;
}

/* Inventory Items */
.inventory-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3 ease, box-shadow 0.3s  ease;
}


.inventory-item.low-stock {
    background-color: #f8d7da;
}

.inventory-item h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.inventory-item .stock-info {
    font-size: 14px;
    margin-bottom: 10px;
}

.change-item{
    background-color: #8c5a40;
    font-size: 12px;
    color: white;
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 3px;
    padding: 5px;
}

.edit-btn {
    font-size: 15px;
    color: white;
    text-decoration: none;
    padding: 5px;
}

.change-item:hover{
    background-color: #D4B59E;
    color: #ffffff;
}

.item-image {
    max-width: 200px;
    height: auto;
    margin: 10px 0;
    border-radius: 5px;

}

.action-bar{
   z-index: 1000;
}

.add-item-btn{
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.add-item-btn:hover{
    background-color: #555;
    transform: scale(1.05);
}