/* General Form Container */
.container {
    max-width: 500px;
    margin: 0 auto;
}

/* Form and Logo Styling */
.register-form {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    background-color: #d3d3d3; /* Form background color (light gray) */
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}

.register-logo img {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

/* Form Title */
.register-form h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

/* Input Fields */
.input-group {
    margin-bottom: 15px;
}

.input-group span {
    background-color: #e9ecef;
}

/* Radio Buttons */
.form-check {
    margin-left: 0;
}

.form-check-label {
    margin-left: 5px;
}

/* Submit Button */
.btn-primary {
    background-color: #8c5a40;
    border-color: #ffffff;
}

.btn-primary:hover {
    background-color: #D4B59E;
    border-color: #ffffff;
}

/* Error Styling */
#password-error {
    font-size: 12px;
    margin-top: 5px;
    display: none;
    color: red;
}
