.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* 2.5);
    padding-left: calc(var(--bs-gutter-x)* 2.5);
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 35px;
}
.btn-primary {
    --bs-btn-color: #ffffff;
    --bs-btn-bg: #8c5a40;
    --bs-btn-border-color: #ffffff;
    --bs-btn-hover-color: #2b1d0e;
    --bs-btn-hover-bg: #D4B59E;
    --bs-btn-hover-border-color: #ffffff;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}