:root {
    --primary-color: #D4B59E;
    --secondary-color: #8C5A3F;
    --background-color: #D4B59E;
    --accent-color: #E7D3C5;
    --text-color: #2B1D0E;
}
.placeholder-box {
    height: 150px;
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #adb5bd;
}

.card-title {
    font-weight: bold;
}

.shadow-sm {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ctm i{
    padding-left: 8px;
}

.dropdown-toggle::after {
    display: none;
}

.placeholder-box {
    height: 320px;
}

.draggable {
    cursor: move;
}

.draggable.dragging {
    opacity: 0.5;
    position: relative;
    z-index: 1001;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    overflow-y: auto;
}

.template-cards .card {
    cursor: move;
    transition: transform 0.2s, box-shadow 0.2s;
}

.template-cards .card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.placeholder-box-small {
    height: 100px;
    background-color: #e9ecef;
    border-radius: 4px;
}

.template-item.dragging {
    opacity: 0.5;
}

/* Adjust main content when sidebar is open */
.content-shift {
    margin-left: 300px;
    transition: margin-left 0.3s ease;
}




/* Overlay */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5000;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease;
}

.overlay.show {
    visibility: visible;
    opacity: 1;
}

.popup {
    background: white;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.popup .title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.popup .btn-close {
    transform: scale(3);
    background: none;
    border: none;
    cursor: pointer;
}

.popup .btn-close:focus {
    box-shadow: none;
}

.container-custom div {
    background-color: gray;
    border: 1px solid black;
}
