{% extends "staff_base.html" %}
{% block content %}
<link href="{{ url_for('static', filename='Form.css') }}" rel="stylesheet">
<main class="form-page">
    <h1>New Item</h1>
    <form method="post" action="/inventory/new" class="add-item-form" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Name*</label>
            <input type="text" id="name" name="name" placeholder="Enter item name" required pattern="[A-Za-z ]+" title="Only alphabets and spaces allowed">
        </div>
        <div class="form-group">
            <label for="stock">Stock QTY*</label>
            <input type="number" id="stock" name="stock" placeholder="Enter stock quantity" required min="1" title="Stock quantity must be at least 1.">
        </div>
        <div class="form-group">
            <label for="picture">Picture*</label>
            <input type="file" id="picture" name="picture" accept=".jpg,.jpeg,.png" required title="Please upload an image file in .jpg, .jpeg, or .png format.">
        </div>
        <div class="form-group">
            <label for="expiration_date">Expiration Date</label>
            <input type="date" id="expiration_date" name="expiration_date" title="Expiration date must be today or later.">
        </div>
        <div class="form-group">
            <label for="category">Category*</label>
            <select id="category" name="category" required title="Please select a category.">
                <option value="snacks">Traditional Snacks & Candy</option>
                <option value="desserts">Desserts</option>
                <option value="biscuits">Biscuits</option>
                <option value="beverages">Beverages</option>
                <option value="toys">Traditional Toys</option>
                <option value="decorations">Decorations</option>
                <option value="supplies">Catering Supplies</option>
            </select>
        </div>
        <div class="form-group">
           <label for="price">Price*</label>
            <input type="number" id="price" name="price" step="0.01" placeholder="Enter item price" required min="0.01" title="Price must be a positive number.">

        </div>
        <div class="form-group">
            <label for="remarks">Remarks</label>
            <textarea id="remarks" name="remarks" placeholder="Enter remarks"></textarea>
        </div>
        <div class="form-actions">
            <button type="button" onclick="window.history.back()">Cancel</button>
            <button type="submit">Add</button>
        </div>
    </form>
</main>
{% endblock %}