{% extends "base.html" %}
{% block title %}Admin Page{% endblock%}
{% block content %}

<div class="container-fluid px-0">
    <div class="col-9 mx-auto my-5">
        <h1>Welcome, Admin!</h1>
        <div class="d-flex align-items-center">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Contact Number</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

{% endblock %}