{% extends "base.html" %}
{% block title %}Analytics{% endblock%}
{% block content %}

<div class="container my-5">
    <h1>Analytics</h1>

    <form action="/add_graph" method="POST">
        <div>
            <label for="products_sold">Products Sold Today:</label>
            <input type="number" id="products_sold" name="products_sold" required>
            <br>
        </div>

        <div>
            <label for="sales_today">Sales Today: </label>
            <input type="number" id="sales_today" name="sales_today" required>
            <br>
        </div>

        <div>
            <label for="customers_today">Customers Today: </label>
            <input type="number" id="customers_today" name="customers_today" required>
            <br>
        </div>

        <div>
            <label for="unique_customers_today">Unique Customers Today: </label>
            <input type="number" id="unique_customers_today" name="unique_customers_today" required>
            <br>
        </div>

        <div>
            <label for="money_spent_customer">Average Money Spent Per Customer: </label>
            <input type="number" id="money_spent_customer" name="money_spent_customer" required>
            <br>
        </div>


        <button type="submit">Create Graph</button>


    </form>

    <h1>Record List</h1>

    <table border="2">
        <thead>
            <tr>
                <th>ID</th>
                <th>Products Sold</th>
                <th>Daily Sale</th>
                <th>Daily Customers</th>
                <th>Daily Unique Customers</th>
                <th>Money Spent Per Customer</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for stat in graph_data %}
            <tr>
                <td>{{ stat.id }}</td>
                <td>{{ stat.products_sold }}</td>
                <td>{{ stat.daily_sale }}</td>
                <td>{{ stat.daily_customers }}</td>
                <td>{{ stat.daily_unique_customers }}</td>
                <td>{{ stat.money_spent_customer }}</td>
                <td class="btns">
                    <form action="/update/{{ stat.id }}" method="POST">
                        <button type="submit">Edit</button>
                    </form>
                    <form action="/delete/{{ stat.id }}" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}