{% extends "staff_base.html" %}
{% block title %}Analytics{% endblock%}
{% block content %}

<link href="{{ url_for('static', filename='staffanalytics.css') }}" rel="stylesheet">

<!-- Overlay -->

<div class="overlay" id="popupOverlay">
    <div class="popup w-50 h-75">
        <div class="header-popup d-flex justify-content-between">
            <h2 class="title fs-1 px-2 py-2">Edit Analytics</h2>
            <button class="btn-close mx-4 my-2" id="closePopup">&times</button>
        </div>
        <div class="card-content">

        </div>
    </div>
</div>

<!-- Analytics Page -->

<div class="container-fluid px-0">
    <div class="row">

        {% include "includes/staff_side_navbar.html"%}

        <div class="col-9 mx-auto my-5">

            <div class="d-flex justify-content-between align-items-center">
                <h1>Analytics</h1>
                <div class="ctm d-flex align-items-center">
                    <span class="text-muted me-3">Updated: </span>
                    <button class="btn btn-secondary btn-sm px-3 py-2" id="openEdit">Edit<i class="fa-solid fa-pen-to-square"></i></button>
                    <button class="btn btn-secondary btn-sm px-3 py-2 d-none" id="addEdit">Add<i class="fa-solid fa-plus"></i></button>
                    <button class="btn btn-secondary btn-sm px-3 py-2 mx-3 d-none" id="closeEdit">Done<i class="fa-solid fa-check"></i></button>
                    <a href="{{ url_for('analytics') }}" class="btn btn-secondary btn-sm px-3 py-2 d-none" id="dataEdit">Edit Data<i class="fa-solid fa-check"></i></a>
                </div>
            </div>

            <div class="row g-3 mt-3">

                <div class="col">
                    <div class="card p-3 shadow-sm h-100 d-flex flex-column justify-content-between w-100">
                        <h5 class="card-title">Today's Earnings</h5>
                        <div class="fw-bold fs-1">${{ user_stats.daily_sale }}</div>
                        <i class="fa-regular fa-square-minus position-absolute top-0 end-0 p-2 fs-4 d-none"></i>
                    </div>
                </div>

                <div class="col">
                    <div class="card p-3 shadow-sm h-100 d-flex flex-column justify-content-between">
                        <h5 class="card-title">Products Sold</h5>
                        <div class="fw-bold fs-1">{{ user_stats.products_sold }}</div>
                        <i class="fa-regular fa-square-minus position-absolute top-0 end-0 p-2 fs-4 d-none"></i>
                    </div>
                </div>


                <div class="col">
                    <div class="card p-3 shadow-sm h-100 d-flex flex-column justify-content-between">
                        <h5 class="card-title">New Customers</h5>
                        <div class="fw-bold fs-1">{{ user_stats.daily_customers }}</div>
                        <i class="fa-regular fa-square-minus position-absolute top-0 end-0 p-2 fs-4 d-none"></i>
                    </div>
                </div>
            </div>
            <div class="row g-3 mt-3">

                <div class="col-md-6">
                    <div class="card p-3 shadow-sm">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title">Daily Report</h5>
                            <button class="btn btn-light btn-sm dropdown-toggle" data-bs-toggle="dropdown">
                                <i class="fa-solid fa-caret-down"></i>
                            </button>
                        </div>
                        <div><iframe src="/dash/" style="width:100%; height:100%; border:none;"></iframe></div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card p-3 shadow-sm">
                        <h5 class="card-title">Live Reviews</h5>
                        <div class="placeholder-box"></div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="card p-3 shadow-sm">
                        <h5 class="card-title">Suggestions</h5>
                        <div class="placeholder-box"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="{{ url_for('static', filename='edit_analytics.js') }}"></script>

{% endblock %}
