{% extends "base.html" %}
{% block title %}Analytics{% endblock%}
{% block content %}

<div class="central-container">
    <div class="container my-5 d-flex justify-content-between">
        <h1 class="fw-bold">Analytics</h1>
        <button type="button" id="edit-btn" class="btn btn-outline-secondary fw-bold">Edit<i class="fa-solid fa-pen-to-square"></i></button>
    </div>
</div>

<div class="container mb-5">
    <div class="container-grid">
        <div class="item1 large-horizontal">
            <div class="box-container">
                <h1 class="fw-bold">Sales Today</h1>
            </div>
        </div>
        <div class="item1 large-horizontal">
            <div class="box-container">
                <h1 class="fw-bold">Live Reviews</h1>
            </div>
        </div>
        <div class="item1 medium">
            <div class="box-container">
                <h1 class="fw-bold">Profits Today</h1>
            </div>
        </div>
        <div class="item1 medium">
            <div class="box-container">
                <h1 class="fw-bold">Products Sold</h1>
            </div>
        </div>
        <div class="item1 medium">
            <div class="box-container">
                <h1 class="fw-bold">New Customers</h1>
            </div>
        </div>
        <div class="item1 super-large">
            <div class="box-container">
                <h1 class="fw-bold">Sales Today</h1>
            </div>
        </div>
    </div>
</div>

{% endblock %}
