{% extends "staff_base.html" %}
{% block title %}Analytics{% endblock%}
{% block content %}

<link href="{{ url_for('static', filename='staffanalytics.css') }}" rel="stylesheet">

<!-- Overlay -->

<div id="overlay" class="overlay d-none">
    <div class="overlay-content">
        <p>Drag and drop cards to rearrange them</p>
    </div>
</div>
<!-- Analytics Page -->

<div id="sidebar" class="sidebar d-none">
    <h2 class="mb-4 just">Add Cards</h2>
    <div class="template-cards">

        <div class="card p-3 shadow-sm mb-3 template-item" draggable="true">
            <h5 class="card-title">Products Sold</h5>
            <div class="fw-bold fs-1">{{ user_stats.products_sold }}</div>
        </div>

        <div class="card p-3 shadow-sm mb-3 template-item" draggable="true">
            <h5 class="card-title">Daily Sales</h5>
            <div class="fw-bold fs-1">${{ user_stats.daily_sale }}</div>
        </div>

        <div class="card p-3 shadow-sm mb-3 template-item" draggable="true">
            <h5 class="card-title">Daily Customers</h5>
            <div class="fw-bold fs-1">{{ user_stats.daily_customers }}</div>
        </div>

        <div class="card p-3 shadow-sm mb-3 template-item" draggable="true">
            <h5 class="card-title">Daily Unique Customers</h5>
            <div class="fw-bold fs-1">{{ user_stats.daily_unique_customers }}</div>
        </div>

        <div class="card p-3 shadow-sm mb-3 template-item" draggable="true">
            <h5 class="card-title">Money Spent per Customer</h5>
            <div class="fw-bold fs-1">${{ user_stats.money_spent_customer }}</div>
        </div>

        <div class="card p-3 shadow-sm mb-3 template-item" draggable="true">
            <h5 class="card-title">Expenses</h5>
            <div class="fw-bold fs-1">${{ user_stats.expenses }}</div>
        </div>

        <div class="card p-3 shadow-sm mb-3 template-item" draggable="true">
            <h5 class="card-title">Labor Costs</h5>
            <div class="fw-bold fs-1">${{ user_stats.labor_costs }}</div>
        </div>

        <div class="card p-3 shadow-sm mb-3 template-item" draggable="true">
            <h5 class="card-title">Energy Costs</h5>
            <div class="fw-bold fs-1">${{ user_stats.energy_costs }}</div>
        </div>

        <div class="card p-3 shadow-sm mb-3 template-item" draggable="true">
            <h5 class="card-title">Energy Report</h5>
            <div class="graph-container">{{ energy_graph | safe }}</div>
        </div>

        <div class="card p-3 shadow-sm mb-3 template-item" draggable="true">
            <h5 class="card-title">Products Report</h5>
            <div class="graph-container">{{ products_graph | safe }}</div>
        </div>

        <div class="card p-3 shadow-sm mb-3 template-item" draggable="true">
            <h5 class="card-title">Profit Report</h5>
            <div class="graph-container">{{ profit_graph | safe }}</div>
        </div>

    </div>
</div>



<div class="container-fluid px-0 analytics-section">
    <div class="row">


        <div class="col-9 mx-auto my-5">

            <div class="d-flex justify-content-between align-items-center">
                <h1>Analytics</h1>
                <div class="ctm d-flex align-items-center">
                    <span class="text-muted me-3">Updated: </span>
                    <button class="btn btn-secondary btn-sm px-3 py-2" id="openEdit">Edit<i class="fa-solid fa-pen-to-square"></i></button>
                    <button class="btn btn-secondary btn-sm px-3 py-2 d-none" id="addEdit">Add<i class="fa-solid fa-plus"></i></button>
                    <button class="btn btn-secondary btn-sm px-3 py-2 mx-3 d-none" id="closeEdit">Done<i class="fa-solid fa-check"></i></button>
                    <a href="{{ url_for('analytics') }}" class="btn btn-secondary btn-sm px-3 py-2 d-none" id="dataEdit">Edit Data<i class="fa-solid fa-check"></i></a>
                </div>
            </div>

            <div class="mainContent">

                <div class="row g-3 mt-3" id="cardsContainer">
                    <div class="col draggable-item" draggable="false">
                        <div class="card p-3 shadow-sm h-100">
                            <h5 class="card-title">Today's Earnings</h5>
                            <div class="fw-bold fs-1">${{ user_stats.daily_sale }}</div>
                            <i class="fa-regular fa-square-minus position-absolute top-0 end-0 p-2 fs-4 d-none"></i>
                        </div>
                    </div>

                    <div class="col draggable-item" draggable="false">
                        <div class="card p-3 shadow-sm h-100 d-flex flex-column justify-content-between">
                            <h5 class="card-title">Products Sold</h5>
                            <div class="fw-bold fs-1">{{ user_stats.products_sold }}</div>
                            <i class="fa-regular fa-square-minus position-absolute top-0 end-0 p-2 fs-4 d-none"></i>
                        </div>
                    </div>

                    <div class="col draggable-item" draggable="false">
                        <div class="card p-3 shadow-sm h-100 d-flex flex-column justify-content-between">
                            <h5 class="card-title">New Customers</h5>
                            <div class="fw-bold fs-1">{{ user_stats.daily_customers }}</div>
                            <i class="fa-regular fa-square-minus position-absolute top-0 end-0 p-2 fs-4 d-none"></i>
                        </div>
                    </div>
                </div>

                <div class="row g-3 mt-3">

                    <div class="col draggable-item" draggable="false">
                        <div class="card p-3 shadow-sm">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="card-title">Sales Report</h5>
                                <i class="fa-regular fa-square-minus position-absolute top-0 end-0 p-2 fs-4 d-none"></i>
                            </div>
                            <div class="graph-container">{{ sales_graph | safe }}</div>
                        </div>
                    </div>

                    <div class="col draggable-item" draggable="false">
                        <div class="card p-3 shadow-sm">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="card-title">Customer Report</h5>
                                <i class="fa-regular fa-square-minus position-absolute top-0 end-0 p-2 fs-4 d-none"></i>
                            </div>
                            <div class="graph-container">{{ customers_graph | safe }}</div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row g-3 mt-3">

                <div class="col-md-12">
                    <div class="card p-3 shadow-sm">
                        <h5 class="card-title">Mamak Bot</h5>
                        <div class="insights">
                            <p class="fw-bold">Insights and Recommendations</p>
                            <ul>
                              {% for i in insights %}
                                <li>{{ i }}</li>
                              {% endfor %}
                            </ul>
                        </div>
                        <i class="fa-regular fa-square-minus position-absolute top-0 end-0 p-2 fs-4 d-none"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<script src="{{ url_for('static', filename='edit_analytics.js') }}"></script>

{% endblock %}