{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='create_rewards.css') }}">
<h1 class="text-center">Update Reward</h1>
<form method="POST" class="mt-4">
    <div class="mb-3">
        <label for="name" class="form-label">Reward</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ reward.name }}" required>
    </div>
    <div class="mb-3">
        <label for="points_required" class="form-label">Points Required</label>
        <input type="number" class="form-control" id="points_required" name="points_required" value="{{ reward.points_required }}" required>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description">{{ reward.description }}</textarea>
    </div>
    <button type="submit" class="btn btn-success">Update Reward</button>
</form>
{% endblock %}
